<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime/>
	</system.web>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=recruit;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701">
					<providerOption name="CompilerVersion" value="v4.0"/></compiler>
		</compilers>
	</system.codedom>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
</configuration>
